@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(270deg, #2c7a5a, #126e64);
  background-size: 400% 400%;

  animation: animated-background 7s ease infinite;
  transition: background 3s ease;
}

.favourites {
  background: linear-gradient(270deg, #25599b, #12639d);
}

.tenders {
  background: linear-gradient(270deg, #2c7a5a, #126e64);
}

.contacts {
  background: linear-gradient(270deg, #7a0f40, #8d111b);
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes animated-background {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}

@keyframes appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}