@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-size: 400% 400%;
}

.favourites {
  background: linear-gradient(270deg, #25599b, #12639d);
}

.tenders {
  background: linear-gradient(270deg, #25599b, #12639d);
}

.contacts {
  background: linear-gradient(270deg, #25599b, #12639d);
}

.gallery {
  background: linear-gradient(270deg, #25599b, #12639d);
}

.feedback {
  background: linear-gradient(270deg, #25599b, #12639d);
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}